:root {
  --pink: rgb(211, 62, 191);
  --off-black : rgb(34, 34, 34);
}

@font-face {
  font-family: 'caveat';
  src: url('../font/Caveat-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'caveat';
}

body {
  background-image: url('../img/bg.jpg');
  background-attachment: fixed;
}


/* NAV STYLING */
nav li {
  list-style-type: none;
  text-align: center;
  padding: 20px;
  color:var(--pink);
  font-weight: bold;
}

li:hover {
  background: var(--pink);
  color: var(--off-black);
}

nav ul {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  cursor: pointer;
}

nav {
  display: grid;
  justify-content: center;
  background:var(--off-black);
}

/* HOME STYLING */
.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#home-info {
  display: grid;
  align-content: center;
  min-height: 550px;
  height: calc(100vh - 60px);
  background: rgba(255, 255, 255, 0.692);
  padding: 0 20px;
  text-shadow: 4px 4px 10px black;
}

button {
  width: max-content;
  padding: 20px;
  font-weight: bold;
  background: var(--off-black);
  border: none;
  color: var(--pink);
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  color:var(--off-black);
  background:var(--pink);
  box-shadow: 2px 2px 5px black;
}

h1 {
  font-size: 80px;
  text-shadow: 1px 3px var(--pink);
}

#home-info p {
  margin: 10px 0;
  font-size: 40px;
}

/* MENU STYLING */
.menu h3 {
  background: linear-gradient(white, white, var(--pink));
  border-radius: 50px 0 3px 0;
  width: max-content;
  background-position: 50% 20%;
  margin: 20px auto 40px auto;
}

.menu.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  padding: 20px;
  gap: 20px;
}

.menu-section {
  background:rgba(255, 255, 255, 1);
  height: min-content;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 2em;
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--off-black);
}

.menu-item {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

/* CONTACT STYLING */
.contact input[type] {
  font: arial;
}

.contact.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  background: rgba(255, 255, 255, 0.9);
  background-size: cover;
  align-items: center;
}

#map {
  justify-self: center;
  border: 2px solid black;
  box-shadow: 0 0 40px var(--pink);
}

#contactInfo {
  display: grid;
  align-content: start;
  gap: 10px;
  justify-content: center;
  padding-bottom: 10px;
}

input[type] {
  width: 300px;
  height: 2rem;
  font-family:'Courier New', Courier, monospace;
  padding: 10px;
}

textarea {
  width: 600px;
  height: 200px;
}
